* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

h2, h3 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 16px;
}

h1 {
	font-size: 64px;
	font-weight: 700;
	color: #2ed573;
}

/* HEADER STYLE */
header {
	width: 100%;
	padding: 24px;
	background-color: #ffffff;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

#logo {
	height: 60px;
	width: auto;
}

nav a {
	text-decoration: none;
	color: #2d3436;
	margin-right: 24px;
	text-transform: uppercase;
}

nav a:hover {
	color: #26de81;
	text-decoration: none;
}

/* HERO STYLE */
.hero-container {
	height: 600px;
	background-image: url('../img/hero-img.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 0 120px;
}

.ingress {
	font-size: 24px;
	line-height: 34px;
}

/* CARD STYLE */
.card-container {
	padding-top: 160px;
	padding-bottom: 160px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-evenly;
}

.card {
	width: 30%;
	box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}

.card img {
	width: 100%;
	margin-bottom: 32px;
}

.card h2, .card p {
	padding: 0 32px;
}

.card a {
	display: inline-block;
	background-color: #26de81;
	padding: 12px 24px;
	border: none;
	color: #ffffff;
	text-decoration: none;
	margin-top: 64px;
	margin-bottom: 32px;
}

.card a:hover {
	background-color: #45aaf2;
}

/* TOMATSOPPA.HTML STYLE */
.intro-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.hero-img {
	width: 50%;
}

.intro-headline {
	width: 50%;
	padding-left: 80px;
	padding-right: 120px;
}

.recipe-container {
	padding-top: 160px;
	padding-right: 120px;
	padding-bottom: 160px;
	padding-left: 120px;
}

.recipe-intro {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.intro-group label {
	font-size: 14px;
	padding-right: 16px;
}

select {
	border: none;
	background-color: #ecf0f1;
	width: 80px;
	height: 30px;
}

table {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	border-collapse: collapse;
	margin-bottom: 80px;
}

thead {
	background-color: #2d3436;
}

thead > tr > th {
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	padding: 16px;
	border-right: 1px solid #fff;
}

tbody {
	background-color: #ecf0f1;
}

tbody > tr {
	border-bottom: 1px solid #fff;
}

tbody > tr > td {
	padding: 16px;
	border-right: 1px solid #fff;
}

ol {
	width: 50%;
	margin-top: 24px;
	list-style-position: inside;
	border: 1px solid #2d3436;
	border-radius: 10px;
	overflow: hidden;
}

ol > li {
	padding: 20px 16px;
	border-bottom: 1px solid #ccc;
}

ol > li:nth-last-child(1) {
	border-bottom: none;
}

ol > li.step-done{
	text-decoration: line-through;
	background-color: #ecf0f1;
}

/* KONTAKT.HTML STYLE */
.page-container {
	padding-top: 80px;
	padding-bottom: 160px;
	width: 800px;
	margin: 0 auto;
}

form {
	margin-top: 32px;
}

form label {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

form input {
	width: 100%;
	padding: 20px;
	margin-bottom: 32px;
	border: 1px solid #26de81;
	border-radius: 5px;
	font-size: 18px;
}

form textarea {
	width: 100%;
	min-height: 200px;
	padding: 20px;
	resize: vertical;
	border: 1px solid #26de81;
	margin-bottom: 32px;
	font-size: 18px;
}

form input[type=submit] {
	background-color: #26de81;
	padding: 24px;
	font-size: 18px;
	border: none;
	color: #ffffff;
	text-decoration: none;
}

form input[type=submit]:hover {
	background-color: #45aaf2;
}
