* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

p {
	font-size: 18px;
}

/* HEADER STYLE */
header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
}

#logo {
	height: 60px;
	width: auto;
}

.main-nav {
	width: 100%;
	margin-top: 20px;
}

.main-nav a {
	text-decoration: none;
	color: #2d3436;
	margin-right: 24px;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #d63031;
	text-decoration: none;
}

/* HERO STYLE */
.hero-container {
	height: 600px;
	background-image: url('../img/hero-img.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.hero-title {
	font-size: 72px;
	color: #e74c3c;
	font-family: 'Pacifico', sans-serif;
}

.ingress {
	margin-top: 20px;
	font-size: 20px;
}

/* CARD STYLE */
.card-container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.card {
	height: 100%;
	max-width: 600px;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 20px;
}

.card img {
	width: 100%;
	margin-bottom: 20px;
}

.card h2 {
	font-size: 32px;
	font-family: 'Pacifico', sans-serif;
	margin-bottom: 20px;
}

.card p {
	font-size: 18px;
	width: 70%;
	margin-bottom: 40px;
	text-align: center;
}

.card a {
	background-color: #e74c3c;
	padding: 12px;
	width: 50%;
	font-size: 18px;
	border: none;
	color: #ffffff;
	text-decoration: none;
}

.card a:hover {
	background-color: #c0392b;
}

/* KLADDKAKA.HTML STYLE */
.hero-img {
	max-width: 100%;
}
.recipe-container {
	padding-top: 60px;
	padding-bottom: 100px;
}

.recipe-container h2 {
	font-size: 32px;
	font-family: 'Pacifico', sans-serif;
}

.recipe-container label {
	font-size: 12px;
	text-transform: uppercase;
}

select {
	border: none;
	background-color: #ecf0f1;
	width: 60px;
	height: 30px;
}

select:hover {
	background-color: #ff7675;
}

select:focus {
	outline: none;
	background-color: #ff7675;
}

table {
	border-radius: 5px;
	overflow: hidden;
	margin-top: 20px;
}

thead > tr > th {
	text-transform: uppercase;
	font-weight: 700;
}

tbody {
	background-color: #ecf0f1;
}

.recipe-container h3 {
	font-family: 'Pacifico', sans-serif;
	font-size: 32px;
	margin-top: 60px;
	margin-bottom: 20px;
}

ol {
	margin-top: 40px;
	list-style-position: inside;
}

ol > li.list-group-item {
	display: list-item;
	padding-top: 20px;
	padding-bottom: 20px;
}
ol > li.list-group-item:hover {
	cursor: pointer;
}

/* KONTAKT.HTML STYLE */
.page-container {
	padding-top: 60px;
	padding-bottom: 100px;
}

form {
	margin-top: 100px;
}

form label {
	width: 100%;
	display: block;
	font-size: 12px;
	margin-bottom: 8px;
	text-transform: uppercase;
}

form input, input.form-control {
	font-size: 16px;
	padding: 20px;
	margin-bottom: 32px;
	border: 1px solid #e74c3c;
}

form input.form-control:focus {
	border-color: #ffb8b8;
	box-shadow: 0 0 0 4px rgba(255, 184, 184,0.5);
}

form textarea, textarea.form-control {
	min-height: 200px;
	padding: 20px;
	font-size: 16px;
	resize: vertical;
	border: 1px solid #e74c3c;
}

form textarea.form-control:focus {
	border-color: #ffb8b8;
	box-shadow: 0 0 0 4px rgba(255, 184, 184,0.5);
}

ol > li.list-group-item.step-done{
	text-decoration: line-through;
	background-color: #ecf0f1;
}
