* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 20px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #107777;
	text-decoration: none;
}

h1, h2, h3 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 16px;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 56px;
	color: #FFD877;
}

/* HEADER STYLE */
header {
	width: 100%;
	padding: 24px;
	background-color: #FFFFFF;

	/* ADDED DURING LAYOUT*/
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

#logo {
	height: 60px;
	width: auto;
}

nav a {
	margin-right: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

/* FOOTER STYLE */
footer {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

/* HERO STYLE */
.hero-container {
	height: 60vh;
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/* ADDED DURING LAYOUT*/
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
}

.hero-headline {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.ingress {
	font-size: 18px;
	line-height: 24px;
}

#front-page-ingress {
	color: #FFFFFF;
}

/* CARD STYLE */
.card-container {
	padding-top: 160px;
	padding-bottom: 160px;
	max-width: 1200px;
	margin: 0 auto;

	/* ADDED DURING LAYOUT*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 32px;
}

.card {
	box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.2);
	overflow: hidden;
	text-align: center;
}

.card img {
	width: 100%;
	margin-bottom: 32px;
}

.card h2, .card p {
	padding: 0 32px;
}

.card a {
	display: inline-block;
	background-color: #FFD877;
	padding: 16px 24px;
	border: none;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: 64px;
	margin-bottom: 32px;
	border-radius: 999px;
}

.card a:hover {
	background-color: #107777;
	color: #FFFFFF;
}

/* TOMATSOPPA.HTML STYLE */
.intro-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	/* ADDED DURING LAYOUT*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.intro-image {
	width: 50%;
	margin-right: 80px;
}

.recipe-container {
	padding-top: 160px;
	padding-bottom: 160px;
	max-width: 1200px;
	margin: 0 auto;
}

.recipe-intro {
	width: 100%;
	margin-bottom: 24px;

	/* ADDED DURING LAYOUT*/
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.intro-group label {
	font-size: 14px;
	padding-right: 16px;
}

select {
	border: none;
	background-color: #ECF0F1;
	width: 80px;
	height: 30px;
}

table {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	border-collapse: collapse;
	margin-bottom: 80px;
}

thead {
	background-color: #107777;
}

thead > tr > th {
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
	padding: 16px;
	border-right: 1px solid #FFFFFF;
}

tbody {
	background-color: #EFF8F8;
}

tbody > tr {
	border-bottom: 1px solid #FFFFFF;
}

tbody > tr > td {
	padding: 16px;
	border-right: 1px solid #FFFFFF;
}

ol {
	width: 50%;
	margin-top: 24px;
	list-style-position: inside;
	border: 1px solid #000000;
	border-radius: 10px;
	overflow: hidden;
}

ol > li {
	padding: 20px 16px;
	border-bottom: 1px solid #ECF0F1;
}

ol > li:nth-last-child(1) {
	border-bottom: none;
}

/* ADDED DURING JS */
ol > li.step-done{
	text-decoration: line-through;
	background-color: #ECF0F1;
}

/* KONTAKT.HTML STYLE */
.page-container {
	padding-top: 24px;
	padding-bottom: 160px;
	width: 1200px;
	margin: 0 auto;

	/* ADDED DURING LAYOUT*/
	display: grid;
	grid-template-columns: 60% 40%;
}

form {
	margin-top: 32px;
}

form label {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

form input, form textarea {
	width: 100%;
	padding: 20px;
	margin-bottom: 32px;
	border: 2px solid #107777;
	border-radius: 5px;
	font-size: 18px;
}

form textarea {
	min-height: 200px;
	resize: vertical;
}

form input[type=submit] {
	width: 50%;
	background-color: #FFD877;
	padding: 24px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	border-radius: 999px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

form input[type=submit]:hover {
	background-color: #107777;
	color: #FFFFFF;
}

.contact-person {
	/* ADDED DURING LAYOUT*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.contact-person img {
	width: 50%;
	border-radius: 100%;
}

/* ADDED DURING JS */
ol > li.step-done{
	text-decoration: line-through;
	background-color: #ECF0F1;
}