* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 20px;
}

h1, h2, h3 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 16px;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 56px;
	color: #FFD877;
}

.container {
	width: 100%;
    max-width: 1200px;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 120px;
}

/* HEADER STYLE */
header {
	width: 100%;
	padding: 24px;
	background-color: #FFFFFF;
    display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

#logo {
	height: 60px;
	width: auto;
}

nav a {
	margin-right: 24px;
	font-weight: 700;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #107777;
}

/* HERO STYLE */
.hero {
	height: 60vh;
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.ingress {
	font-size: 20px;
	line-height: 28px;
}

.hero .ingress {
	color: #FFFFFF;
}

/* CARD STYLE */
.card-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
	gap: 32px;
}

.card {
    flex: 1;
	box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.2);
	overflow: hidden;
	text-align: center;
}

.card img {
	width: 100%;
	margin-bottom: 32px;
}

.card h2, .card p {
	padding-right: 32px;
    padding-left: 32px;
}

.card a {
	display: inline-block;
	background-color: #FFD877;
	padding: 16px 24px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	margin-top: 64px;
	margin-bottom: 32px;
	border-radius: 999px;
}

.card a:hover {
	background-color: #107777;
	color: #FFFFFF;
}

/* FORM STYLE */
.form-container {
    padding-top: 0;
}

form label {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

form input, form textarea {
	width: 100%;
	padding: 20px;
	margin-bottom: 32px;
	border: 2px solid #107777;
	font-size: 16px;
}

form textarea {
	min-height: 200px;
	resize: vertical;
}

form input[type=submit] {
    width: auto;
	background-color: #FFD877;
	padding: 16px 24px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 999px;
    border: none;
    cursor: pointer;
}

form input[type=submit]:hover {
	background-color: #107777;
	color: #FFFFFF;
}

/* FOOTER STYLE */
footer {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

/* TOMATSOPPA.HTML STYLE */
.intro-container {
    padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.intro-image {
	width: 50%;
	margin-right: 80px;
}

.recipe-intro {
	width: 100%;
	margin-bottom: 24px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
    gap: 16px;
}

.recipe-intro label {
	font-size: 14px;
    text-transform: uppercase;
    margin-left: auto;
}

select {
	width: 100px;
	padding: 12px;
	border: 2px solid #107777;
	font-size: 16px;
}

table {
	width: 100%;
    margin-bottom: 80px;
}

thead {
	background-color: #107777;
}

thead > tr > th {
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
	padding: 16px;
}

tbody {
	background-color: #EFF8F8;
}

tbody > tr > td {
	padding: 16px;
}

ol {
	width: 50%;
	margin-top: 24px;
	list-style-position: inside;
	border: 1px solid #000000;
}

ol > li {
	padding: 20px 16px;
	border-bottom: 1px solid #ECF0F1;
}

ol > li:nth-last-child(1) {
	border-bottom: none;
}

/* ADDED DURING JS */
ol > li.step-done{
	text-decoration: line-through;
	background-color: #ECF0F1;
}
